@import "tailwindcss";

body{
  background-color: rgb(220, 220, 220);
}

button{
  background-color: rgb(81, 144, 216);
  border-radius: 0.5ch;
  padding: 0.5ch;
}
button:disabled{
  background-color: rgb(200, 200, 200);
}
button:hover:not(:disabled){
  background-color: rgb(60, 120, 200);
}
button:active:not(:disabled){
  background-color: rgb(40, 100, 180);
}

input{
  border-color: rgb(0, 0, 0);
  border-radius: 0.5ch;
  padding: 0.5ch;
}